{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/k.png' %}">

    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'all_styles.css' %}">

    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
</head>
<body>
<header>
    <h1 id="title">{{ k1 }}</h1>
</header>
<main>
    <div class="card">
        <div class="text_card">
            <h3>{{ k1 }}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto commodi cum
                exercitationem illo ipsa ipsam itaque, maxime quae rerum similique sint tempore totam
                velit voluptate. Cumque debitis delectus, distinctio dolor dolorem eos magnam minima nam nemo
                nihil numquam omnis pariatur, quibusdam recusandae sapiente velit veniam voluptatibus.</p></div>
        <div class="person_img">
                <img  class="person" src="{% static k2 %}" alt="ОСТАП">
        </div>
    </div>
</main>
<footer>
    <nav>
        <ul>
            <li class="navigation_li"><a class="nav_link" href="{% url "home" %}">Главная</a>
            <li class="navigation_li"><a class="nav_link" href="{% url "about" %}">О нас</a>
            <li class="navigation_li"><a class="nav_link" href="{% url "contacts" %}">Контакты</a>
            <li class="navigation_li"><a class="nav_link" href="{% url "month" ident=0 %}">Работник месяца</a>
        </ul>
    </nav>
    <div id="copy_right">
        <p>&copy; HORNS LTD, 2023</p>
    </div>
</footer>
</body>
</html>